$BLACK: #000000;
$BLACK_TRANS_SHADOW: rgba(1, 28, 64, 0.2);
$BRIGHT_TURQUOISE: #07d6f2;
$CONCRETE: #f2f2f2;
$CORN: #f2cb07;
$EERIE_BLACK: #212121;
$MINE_SHAFT_TRANS: rgba(33, 33, 33, 0.702);
$MOCHA: #732119;
$PASTEL_GREEN: #73d677;
$PUNCH: #d93e30;
$RIPE_LEMON: #f5db13;
$TALL_POPPY: #b33327;
$TUNDORA: #4b4b4b;
$WHITE_TRANS_SHADOW: rgba(0, 0, 0, 0.18);
$WHITE: #fdfdfd;

:export {
  BLACK: $BLACK;
  BLACK_TRANS_SHADOW: $BLACK_TRANS_SHADOW;
  CORN: $CORN;
  PASTEL_GREEN: $PASTEL_GREEN;
  RIPE_LEMON: $RIPE_LEMON;
}
