$concrete: #f2f2f2;
$black: #000000;
$mine_shaft_trans: rgba(33, 33, 33, 0.702);
$eerie_black: #212121;
$punch: #d93e30;
$mocha: #732119;
$tall_poppy: #b33327;
$pastel_green: #73d677;
$bright_turquoise: #07d6f2;
$white: #fdfdfd;
$corn: #f2cb07;
$black_transparent_shadow: rgba(1, 28, 64, 0.2);
$white_transparent_shadow: rgba(0, 0, 0, 0.18);
