@import '../../theme/colors.scss';

.error-page-container {
  align-items: center;
  background: $PUNCH;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: center;
  width: 100%;
  .error-404-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 30rem;
    position: relative;
    width: 100%;
  }
}
.error-404 {
  align-items: center;
  color: $MINE_SHAFT_TRANS;
  display: flex;
  filter: drop-shadow(4px 4px 24px $BLACK_TRANS_SHADOW);
  font-family: Karla;
  font-size: 38rem;
  font-style: normal;
  font-weight: bold;
  height: 25rem;
  justify-content: center;
  letter-spacing: 4px;
  margin-top: 5rem;
  position: absolute;
  width: 100%;
}
.team-rocket-image {
  grid-column: 3/4;
  grid-row: 1/2;
  height: auto;
  width: 40rem;
  z-index: 1;
}

  .error-msg-paragraph {
    color: $BLACK;
    font-family: Karla;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    .span-error {
      color: $WHITE;
    }
  }

.error-page-return-button {
  background: $CORN;
  border-radius: 0.5rem;
  box-shadow: inset 0px -9px 0px $WHITE_TRANS_SHADOW;
  cursor: pointer;
  margin-top: 3rem;
  padding: 0.7rem 3rem;
  position: relative;
}
.return-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: Karla;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: auto;
  text-align: center;
}

@media (max-width: 1024px) {
  .error-page-container {
    height: 64rem;
  }
  .team-rocket-image {
    width: 40rem;
  }
  .error-404 {
    font-size: 30rem;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .team-rocket-image {
    margin-top: 9rem;
    width: 20rem;
  }
  .error-404 {
    font-size: 15rem;
    justify-content: center;
    width: 100%;
  }
    .error-msg-paragraph {
      font-size: 2rem;
      padding: 6rem;
    }
  }

