.footer-body {
  background-blend-mode: overlay;
  bottom: 5.22%;
  box-sizing: border-box;
  display: flex;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1.1vw;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 94.63%;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    font-size: 2vw;
    justify-content: center;
  }
  @media screen and (max-width: 426px) {
    font-size: 3vw;
  }
}

.footer-text {
  padding-left: 6em;
  padding-right: 6em;

  @media screen and (max-width: 768px) {
    align-self: center;
    padding-left: 2em;
    padding-right: 2em;
  }
}
