@media screen and (max-width: 426px) {
  .statHeading {
    padding: 0.2em 0.2em 0 0.2em;
  }
  .stat {
    font-weight: 700;
    padding: 0.2em 0.2em 0 0.2em;
  }
  .progressBar {
    padding: 0.5em 0 1em 0;
    width: 20rem;
  }
}
